<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.ecommerce.trade.order.mapper.AddressReadMapper">

    <select id="selectById" resultType="com.team.ecommerce.trade.order.mapper.AddressReadMapper$AddressInfo">
        SELECT name, phone, province, city, district, detail
        FROM address WHERE id = #{id}
    </select>

</mapper>
