<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.ecommerce.auth.mapper.UserMapper">

    <sql id="allColumns">
        id, username, password, phone, email, avatar, nickname, gender, status, role,
        created_at AS createdAt, updated_at AS updatedAt
    </sql>

    <select id="findByUsername" resultType="com.team.ecommerce.auth.entity.User">
        SELECT <include refid="allColumns"/>
        FROM `user`
        WHERE username = #{username}
    </select>

    <select id="findByPhone" resultType="com.team.ecommerce.auth.entity.User">
        SELECT <include refid="allColumns"/>
        FROM `user`
        WHERE phone = #{phone}
    </select>

    <select id="findById" resultType="com.team.ecommerce.auth.entity.User">
        SELECT <include refid="allColumns"/>
        FROM `user`
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.team.ecommerce.auth.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (username, password, phone, email, nickname, gender, status, role)
        VALUES (#{username}, #{password}, #{phone}, #{email}, #{nickname}, #{gender}, #{status}, #{role})
    </insert>

    <update id="updateProfile" parameterType="com.team.ecommerce.auth.entity.User">
        UPDATE `user`
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="phone != null">phone = #{phone},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updatePassword">
        UPDATE `user`
        SET password = #{password}
        WHERE id = #{id}
    </update>

</mapper>
